@model NumberGuessingGame.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Secret number application";
}

<h2>Secret number application</h2>
@using (Html.BeginForm())
{ 
    <p>Gissa ett tal mellan 1 och 100:</p>

    @Html.ValidationSummary("HÄR STÄMMMER DÄÄHÄÄÄÄHHÄ INTÄÄÄ");
    @Html.EditorFor(m => m.Guess)
  // @Html.DropDownListFor(m => m.secretNumber.LastGuessedNumber, Model.OutcomeText)
    <input type="submit" value="Gissa" />
    <div id="guessCount">@Html.DisplayTextFor(m => m._guessOutcome)</div>
    <div id="guessCount">@Html.DisplayTextFor(m => m.guessesLeft)</div>
    
    <div id="guesses">
        @foreach (var item in @Model.secretNumber.GuessedNumbers)
        {   
               
                <div id="guess">@item.Number</div>
        }
    </div>

}

<div>@using (Html.BeginForm("New", "Home"))
{ <input type="submit" value="New Game" /> }</div>

@section scripts 
{
    <script>
        $(function() {
            $("#Guess").focus();
        });
        $('#Guess').on('click focusin', function () {
            this.value = '';
        });
    </script>
}