@model NumberGuessingGame.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Number Game";
}


<h2>Secret number application</h2>

<div class="col-md-11">
@using (Html.BeginForm("Start", "Home"))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-center">
                <!--Html.EnumDropDownListFor(m=>m.gameSettings.gameSettingsChoices, Model.GameSettingChoice)
                <input type="submit" value="Start Game" class="btn btn-success" />-->
            </div>
        </div>
    </div>
}
</div>
<div class="col-md-11">
    @using (Html.BeginForm())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-center">
                    <h4>Guess on a number between 1 and 100:</h4>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Guess, new { @class = "form-control" })
                    </div>
                    <hr />
                    @if (!@Model.SecretNumber.CanMakeGuess)
                    {
                        <input type="submit" value="Gissa" class="btn btn-primary " disabled />
                        <h3>Press "New Game" to randomize new number</h3>
                    }
                    else
                    { <input type="submit" value="Gissa" class="btn btn-primary" /> }
                </div>
                @Html.ValidationSummary()
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-10">
                        <h4>@Html.DisplayTextFor(m => m.OutcomeText)</h4>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayTextFor(m => m.GuessCountText)
                    </div>
                </div>
                <div class="text-center">
                    <div class="well">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                @foreach (var item in @Model.SecretNumber.GuessedNumbers)
                                {
                                    <li>@item.Number is @item.Outcome | </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

            <div class="col-md-11">
                @using (Html.BeginForm("New", "Home"))
    {
                    <input type="submit" value="New Game" class="btn btn-danger" />
    }
            </div>

            @section scripts
{
                <script>

                    $(function () {
                        $("#Guess").focus();
                    });
                    $('#Guess').on('click focusin', function () {
                        this.value = '';
                    });
                </script>
            }
